author__bio {
  margin: 0;
  font-size: 0.5em;
  font-style: italic;

  @include breakpoint($large) {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
.author__bio img {
  max-width: 40px; /* Adjust the value to your desired width */
  height: auto; /* Maintain aspect ratio */
}
